<p> <%= @msg %> </p>
<p></p>
Current Player: <%= GAME.has_a_player? ? session[:current_player] : "No Players Registered" %> <a href="/switch_players"> Switch Players </a>
<p></p>
<a href="/new_game"> New Game </a>
<p></p>
<a href="/register"> Register A Player </a>
<p></p>
<a href="/get_coordinates"> Place Ships </a>
<p></p>
<a href="/play_the_game"> Play the Game </a>