<p> <%= @msg %> </p>
<p></p>
Current Player is <%= session[:current_player] %> <a href="/switch_players"> Switch Players </a>
<p></p>
<a href="/new_game"> New Game </a>
<p></p>
<a href="/register"> Register A Player </a>
<p></p>
<a href="/get_coordinates"> Place Ships </a>