<!DOCTYPE html>
<html>

<head>
  <title>Battleships</title>
	<link rel="stylesheet" type="text/css" href="CSS/stylesheet.css">
</head>

<body>
<h1>Emily and Andy's Battleships</h1>

<%= yield %>

</body>

</html>