<!DOCTYPE html>
<html>

<head>
  <title>Battleships</title>
	<link rel="stylesheet" type="text/css" href="CSS/stylesheet.css">
</head>

<body>

  <header>
    <h1>Emily and Andy's Battleships</h1>
  <header>
  <main>
    <%= erb :_flash %>
  

<%= yield %>
  </main>
</body>

</html>