<form action='/registered2?player_name1=<%=@player_name1%>'>
	<%="Thank you #{@player_name1} for registering. Please enter a name for Player 2"%>
  <input type="text" name="player_name">
  <input type="submit" value="submit">
</form>