
<%="Thank you #{ObjectSpace._id2ref(session[:players][1]).name}, you will be playing against #{ObjectSpace._id2ref(session[:players][0]).name}"%>
<a href="/set_up_fleet">Set-up ships for <%= ObjectSpace._id2ref(session[:players][0]).name %></a>

