<ul id="menu">
  <section id="player-status">Current Player: 
    <% if GAME.has_a_player? %> 
      <%= session[:current_player] %> 
        <% if GAME.has_two_players? %>
          <a href="/switch_players"> Switch Players </a>
        <% end %>
    <% else %>
      No Players Registered
    <% end %>
  </section>
    <% if GAME.both_fleets_placed? %>
      <li><a href="/start_game">Play the Game</a></li>
    <% end %>
  <% if GAME.has_a_player? %>
    <% if !GAME.has_two_players? %>
      <li><a href="/register">Register Player 2</a></li>
    <% end %>
    <li><a href="/get_coordinates">Place Ships</a></li>
    <li><a href="/new_game">Start Again</a></li>
  <% else %>
    <li><a href="/register">Register Player 1</a></li>
  <% end %>
</ul>