<% if session[:game_in_progress] %>
  <table style="width: 40%">
    <th colspan="11">Your shots at <%= GAME.opponent_name(session[:current_player]) %></th>
      <tr><td></td>
      <% [*"A".."J"].each do |column| %>
    <th><%= column %></th>
      <% end %></tr>
    <% GAME.opponent_object(session[:current_player]).board.display_opponents_board.each_slice(10).with_index do |slice, index| %>
      <tr>
        <td><%= index +1 %></td>
        <% slice.each do |value|%>
        <td><%= value %></td>
        <%end%>
      </tr>
    <%end%>
  </table>
<% end %>