<% if session[:grid_display] || session[:placing_ships] %>
  <table class="players-grid">
    <th colspan="11">Your grid</th>
      <tr><td></td><% [*"A".."J"].each do |column| %>
    <td><%= column %></td>
      <% end %></tr>
    <% GAME.which_is(session[:current_player]).board.display_players_board.each_slice(10).with_index do |slice, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <% slice.each do |value|%>
        <td><%= value %></td>
        <%end%>
      </tr>
    <%end%>
  </table>

<h3>Key:</h3>
<p> w water, not shot at.</p>
<p> M water, has been shot at.</p>
<p> s ship, not shot at.</p>
<p> S ship, has been hit.</p>

<% end %>