<% if session[:grid_display] || session[:placing_ships] %>
<% indexed_rows = ["A","B","C","D","E","F","G","H","I","J"] %>
  <table class="players-grid">
    <th colspan="11">Your grid</th>
      <tr><td></td><% [*1..10].each do |column| %>
    <td><%= column %></td>
      <% end %></tr>
    <% GAME.players_board.each_slice(10).with_index do |slice, index| %>
      <tr>
        <td><%= indexed_rows[index] %></td>
        <% slice.each do |value|%>
        <td style="font-weight: <%= ['M','S'].include?(value) ? 'bold' : 'normal' %>" ><%= value %></td>
        <%end%>
      </tr>
    <%end%>
  </table>

<h3>Key:</h3>
<p> - water, not shot at.</p>
<p> s ship, not shot at.</p>
<p> <span style="font-weight: bold;">S</span> ship, has been hit.</p>
<p><span style="font-weight: bold;">M</span> water, has been hit.</p>

<% end %>