<h2>You have placed all your ships.</h2>
<p><% if GAME.has_two_players? %>
  <a href="/ready_to_play"> Click here to start the battle! </a>
<% else %>
  <a href="/register"> Click here to register Player 2 </a>
<% end %></p>
