<!DOCTYPE html>
<html>

<head>
  <title>Battleships</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>

<body>

  <header>
    <h1>Emily and Andy's Battleships</h1>
    <%= erb :_header %>
  </header>

  <section id="main">
    <%= erb :_flash %>

    <section id="col-1-5">
      <%= erb :_left_hand_nav %>
    </section>

    <section id="col-1-5">
      <%= yield %>
    </section>

    <section id="col-3-5">

      <section id="row-1-2">
      </section>

      <section id="row-1-2">
      </section>

    </section>

  </sectin>

</body>

</html>