<% if GAME.opponent_object(session[:current_player]).board.is_fleet_sunk? %>
  <% redirect '/winner' %>
  <% else %>
  <h2><%= GAME.opponent_object(session[:current_player]).board.shot_result(@target_cell) %></h2>
  <p><a href='/next_player_turn'>Next Player Turn</a></p>
  <% end %>