<!-- display message from shot here -->

<% if GAME.opponent_object(session[:current_player]).board.is_fleet_sunk? %>
  <% redirect '/winner' %>
  <% else %>
  <%= GAME.opponent_object(session[:current_player]).board.shot_result(@target_cell) %>
  <a href='/next_player_turn'>Next Player Turn</a>
  <% end %>